* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed";
}

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
}

.card {
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 10px 20px hsl(212, 6%, 84%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.auth-name {
  font-size: 16px;
  font-weight: 400;
}

.auth-position {
  margin-top: 1.5px;
  font-size: 12px;
}

.auth-main-feedback {
  font-weight: 500;
  font-size: 20px;
}

.auth-detailed-feedback {
  line-height: 1.4;
}
.card img {
  border-radius: 50%;
  width: 30px;
}

.daniel {
  grid-area: 1/1/2/3;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  position: relative;

  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 80px;
  background-size: 114px;
}

.daniel .auth-information img {
  border: 1px solid hsl(264, 82%, 80%);
}

.jeanette .auth-detailed-feedback,
.kira .auth-detailed-feedback {
  color: hsl(219, 29%, 14%);
}

.jonathan {
  grid-area: 1/3/2/4;
  background-color: hsl(224, 10%, 45%);
  color: hsl(0, 0%, 100%);
}

.jonathan .auth-information img {
  border: 1px solid hsl(260, 100%, 95%);
}

.jeanette {
  grid-area: 2/1/3/2;
}

.patrick {
  grid-area: 2/2/3/4;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}

.patrick .auth-information img {
  border: 1px solid hsl(263, 55%, 52%);
}

.kira {
  grid-area: 1/4/3/5;
  background-color: hsl(0, 0%, 100%);
}

@media (max-width: 375px) {
  body {
    padding: 12px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card {
    grid-area: auto !important;
    padding: 16px;
  }

  .daniel{
    background-image: none;
  }
}
