* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  min-height: 100vh;
}

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

.card {
  border: 1px solid black;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 20px hsl(212, 6%, 84%);
}

.card img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.daniel {
  grid-area: 1/1/2/3;
}

.jonathan {
  grid-area: 1/3/2/4;
}

.jeanette {
  grid-area: 2/1/3/2;
}

.patrick {
  grid-area: 2/2/3/4;
}

.kira {
  grid-area: 1/4/3/6;
}
